#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 110px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 120px from the top with a green background */
#dashboard {
    top: 120px;
    background-color: #4CAF50;
}

#user {
    top: 180px;
    background-color: #2196F3; /* Blue */
}

#ad{
    top: 240px;
    background-color: #f44336; /* Red */
}

#vu{
    top: 300px;
    background-color: #f0ad4e
}
#re{
    top: 360px;
    background-color: #563d7c;
}
#pr{
    top: 420px;
    background-color: #c3325f;
}




